*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/morty-siendo-atacado.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
}
.content{
    background-color: rgba(0, 0, 0, 0.478);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
header img{
    width: 700px;
}
header input{
    width: 500px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}
.cards{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carta{
    border: solid 1px white;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    cursor: grab;
}
.carta img{
    border-radius: 180px;
}

.blue-background-class{
    background-color: rgba(0, 0, 0, 0.292);
}
